$cyan: hsl(179, 62%, 43%);
$light-cyan: hsl(179, 47%, 52%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$body-font-family: 'Karla', sans-serif;

$body-font-size: 16px;

$body-font-weights: (
    "regular": 400,
    "bold": 700
);
